
:root {
    --primary: rgb(19, 171, 220);
    --secondary: rgb(72,72,72);
    --third: rgb(237,237,237);
}
/*to use:      var(--primary)        */




.child {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.parent {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

circle {
    stroke: #000000;
    stroke-width: 1.5px;
    filter: brightness(130%);
}

.dim {
    filter: brightness(40%);
}

textarea {
    background: white;
    color: white;
}

.node-label {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

text {
    font: 12px sans-serif;
    font-weight: bolder;
    pointer-events: none;
    text-anchor: middle;
    filter: brightness(80%)
}

text.node-label {
    fill: #fff;
}

text.link-label {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.detail-display {
    color: white;
}

.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 10px;
}
.headers {
    color: white;
    border: solid white;
}
.data {
    color: white;
    border: 1px solid white;
}
#search_input::placeholder {
    color: black;
}
#search_input {
    color: black;
}

/* Add a black background color to the top navigation */

    
select {
    color: black;
}
option {
    color:black;
}

    /* Style the links inside the navigation bar */
.nav_element {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */


/* Add a color to the active/current link */





button {
    padding: 10px;
    margin: 10px;
    background-color: var(--secondary);
    color: black;
    text-align: center;
}

    button:hover {
        background-color: var(--third);
        color: black;
    }

:root {
    --blue: #dce2e9;
    --black: #101011;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem Orgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid;
}

* {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

#logo:hover {
    color: white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}

body {
    background-color: var(--white);
    background-size: 1500px 800px;
    padding-top: 110px;
    padding-bottom: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--primary);
    box-shadow: var(--box-shadow);
}


.main div {
    /*position: absolute;*/
    margin-left: 10px;
    font-size: large;
}

#data-table {
    margin-left: 300px;
    text-align: center;
    margin-top: 3%;
    box-shadow: 1px 12px 12px -6px rgba(248, 245, 245, 0.5);
    border-collapse: collapse;
    height: 100%;
    width: 50%;
    border: 1px solid black;
}


#table-div {
    display:flex;
    justify-content: center;
    align-items: center;
}


#table-div, th, td {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black !important;
}

th {
    top: 0;
}

#top_row {
    border-top: hidden;
}

thead {
    border-bottom: 5px solid black !important;
}
.highlighted {
    background-color: darkblue;
}


.table_button {
    background-color: var(--primary);
    color: rgb(39,36,46);
    text-align: center;
}



input {
    font-size: medium;
    color: black;
    text-rendering: inherit;
    appearance: textarea;
    text-transform: none;
}

.background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(50px);
}

.table-div {
    height: 20em;
}
tbody {
    height: 100%;
    width: 100%;
    background-color: rgb(234, 238, 243)
}


/* The alert message box */
.alert {
    padding: 20px;
    background: border-box;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    font-size: 25px;
}

/* The close button */
.closebtn {
    background: inherit;
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }


.navbar-brand {
    font-size: 2rem;
    color: rgb(234, 238, 243);
}

    .navbar-brand:hover {
        color: black;
    }

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(234, 238, 243);
    font-family: Rubik,sans-serif;
    text-transform: uppercase;
}

    .nav-link:hover {
        color: black;
    }

.main {
    background: rgb(237,237,237);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.navbar-expand-lg {
    background: rgb(18,171,219);
    height: 120%;
    width: 100%;
}